@model IEnumerable<AutoparkDAL.Entities.Order>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Orders";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Order" asp-action="Create" type="button" class="btn btn-outline-info" style="margin: 10px 10px 0px 0px">
        <i class="fa-solid fa-plus"></i>
        new order
    </a>
</p>
<table class="table table-bordered table-striped">
    <br/>
    <tr>
        <th>Id</th>
        <th>Model Name</th>
        <th>Registration Number</th>
        <th>Date</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.VehicleId</td>
            <td>@item.Vehicle.Model</td>
            <td>@item.Vehicle.RegistrationNumber</td>
            <td>@item.Date.Date</td>
            <td>
                <div class="btn-group w-75" role="group" style="padding-left: 25px">
                    <form method="get" asp-controller="OrderItem" asp-action="Create" asp-route-id="@item.OrderId">
                        <button type="submit" class="btn btn-success">
                            Add parts
                        </button>
                    </form>
                    <form method="get" asp-controller="OrderItem" asp-action="Index" asp-route-id="@item.OrderId">
                        <button type="submit" class="btn btn-info">Info</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>

<div>
    <a type="button" asp-controller="Home" asp-action="Index" class="btn m-2" style="color: #41464b"><i class="fa-solid fa-arrow-right-from-bracket"></i> Back to List</a>
</div>