@model AutoparkDAL.Entities.Vehicle

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Vehicle</h2>

<form asp-action="GetInfo" asp-controller="Vehicle">
    <h6><b>Type: </b>@Model.VehicleType.Name</h6>
    <h6><b>Model name: </b>@Model.Model</h6>
    <h6><b>Registration Number: </b>@Model.RegistrationNumber</h6>
    <h6><b>Weight: </b>@Model.Weight kg</h6>

    <h6><b>Manufacture Year: </b>@Model.Year</h6>

    <h6><b>Mileage: </b>@Model.Mileage km</h6>

    <h6><b>Color: </b>@Model.Color</h6>

    <h6><b>Volume: </b>@Model.Volume</h6>

    <h6><b>Fuel Consumption: </b>@Model.FuelConsumption</h6>

    <h6><b>Road tax amount per month: </b>@Model.GetCalcTaxPerMonth().ToString("0.00")</h6>

    <h6><b>Max kilometers that the vehicle can drive with a full tank: </b>@Model.GetMaxKilometers().ToString("0.00")</h6>
    <br/>
    </form>
<a type="button" asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn btn-info w-25"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
<a type="button" asp-controller="Vehicle" asp-action="Delete" class="btn btn-danger w-25" asp-route-id="@Model.VehicleId"><i class="fa-solid fa-trash"></i> Delete</a>
<div>
    <a type="button" asp-controller="Vehicle" asp-action="Index" class="btn m-2" style="color: #41464b"><i class="fa-solid fa-arrow-right-from-bracket"></i> Back to List</a>
</div>
