@model IEnumerable<AutoparkDAL.Entities.Vehicle>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container p-2">
    <div class="row pt-2">
        <div class="col-11 w-75">
            <h1 style="color: #0dcaf0">Vehicles list</h1>
        </div>
        <div class="col-1 w-25">
            <a asp-controller="Vehicle" asp-action="Create" type="button" class="btn btn-outline-info" style="margin: 10px 10px 0px 0px">
                <i class="fa-solid fa-plus"></i>
                new vehicle
            </a>
        </div>
        <div class="col-1">
            <h6>Sort by </h6>
            <select class="form-select-sm">
                <option>
                    <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]">Model</a>
                </option>
                <option>
                    <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a>
                </option>
                <option>
                    <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["MileageSortParm"]">Mileage</a>
                </option>
            </select>
        </div>
    </div>
    
    <br/>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                Model
                @* <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]">Model</a> *@
            </th>
            <th>
                Type
                @* <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a> *@
            </th>
            <th>Manufacture year</th>
            <th>Registration number</th>
            <th>
                Mileage
                @* <a asp-controller="Vehicle" asp-action="Index" asp-route-sortOrder="@ViewData["MileageSortParm"]">Mileage</a> *@
            </th>
            <th>Weight</th>
            <th>Color</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Model</td>
                    <td>@item.VehicleType.Name</td>
                    <td>@item.Year</td>
                    <td>@item.RegistrationNumber</td>
                    <td>@item.Mileage</td>
                    <td>@item.Weight</td>
                    <td>@item.Color</td>
                    <th>
                        <a type="button" asp-controller="Vehicle" asp-action="GetInfo" class="btn btn-info w-100" asp-route-id="@item.VehicleId"><i class="fa-solid fa-gear"></i> Manage</a>
                    </th>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No vehicles in the database</p>
    }
</div>